@import "tailwindcss";
@import "react-day-picker/style.css";

:root {
  --background: #141416;
  --foreground: #DCD7BA;

  --color-background: #16161D;
  --color-bg-accent: #2A2A36;
  --color-bg-alt-accent: #54546D;

  --color-foreground: #DCD7BA;
  --color-fg-accent: #C8C093;
  --color-disabled-foreground: #717C7C;

  --color-bad: #FF5D62;
  --color-bad-accent: #E82424; 

  --color-good: #76946A;
  --color-good-accent: #98BB6C; 

  --color-action: #658594;
  --color-action-accent: #7FB4CA
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-manrope), sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-ubuntu) sans-serif;
}

html {
  background-color: black;
}

/*Scroll down to accomodate for the nav bar*/
.pageSection  {
  scroll-margin-top: 90px;
  min-height: calc(100vh - 90px);
  height: calc(100vh - 90px);
}

.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-alt-accent);
  border-radius: 9999px;
  background-clip: content-box;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 9999px;
}

/* Overriding day picker arrow buttons and selected circle */
.rdp-chevron polygon {
  fill: var(--color-foreground);
}
.rdp-day.rdp-selected .rdp-day_button {
  border: 2px solid var(--color-foreground);
}