@import "tailwindcss";

:root {
  --background: #16161D;
  --foreground: #DCD7BA;

  --color-background: #16161D;
  --color-bg-accent: #2A2A36;
  --color-bg-alt-accent: #54546D;

  --color-foreground: #DCD7BA;
  --color-fg-accent: #C8C093;
  --color-disabled-foreground: #717C7C;

  --color-bad: #C34043;
  --color-bad-accent: #E82424; 

  --color-good: #76946A;
  --color-good-accent: #98BB6C; 

  --color-action: #658594;
  --color-action-accent: #7FB4CA
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-manrope), sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-ubuntu) sans-serif;
}

html {
  background-color: black;
}

/*Scroll down to accomodate for the nav bar*/
.pageSection  {
  scroll-margin-top: 60px;
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
}